.main{
    margin: 30px 5%;
}

.page-title {
    font-size: 5rem;
    margin: 30px;
}

.line-item{
    margin: 30px 0;
    width: 100%;
    height: 200px;
    border-bottom: rgba(128, 128, 128, 0.192) solid 1px;
}

.item-details{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    
}

.item-details img{
    display: inline-block;
    height: 200px;
}

.details {
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

.details h3 span {
    font-weight: lighter;
}

.item-title{
    margin: 30px 0;
    font-size: 4rem;
}

.quantity {
    width: 30%;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.price{
    display: inline-block;
    margin: 0;
    width: 20%;
    text-align: end;
}

.item-price{
    font-size: 2.5rem;
    font-weight: lighter;
}

.clear-button{
    display: inline-block;
    margin: 0;
    width: 8%;
    text-align: center;
}

.clear-button button{
    
    padding: 0 7px 3px 7px;
    border-radius: 20px;
    text-shadow: none;
    border: none;
    

}

#empty-cart{
    text-align: center;
    color: gray;
}




/* SUBTOTAL */

.subtotal{
    font-size: 2rem;
    margin: 50px;
    text-align: end;

}

#subtotal{
    font-weight: lighter;
}

/* BUTTONS */

.buttons{
    text-align: end;
    margin: 80px 0;
}

.buttons a{
    font-size: 1.7rem;
    margin: 0 20px;

}